<div class="card">
  <%= link_to image_tag(protable.image, class: :card__img ), root_path%>
  <div class="card__body">
    <%= link_to protable.title, root_path, class: :card__title%>
    <p class="card__summary">
      <%= protable.catch_copy %>
    </p>
    <%= link_to protable.user.name, root_path, class: :card__user %>
  </div>
</div>